<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head.ejs') %>
  <body>
    <!-- Navbar -->
    <%- include('./layout/header.ejs') %>

    <main>
      <div class="container">
        <h3>Add Post:</h3>
        <form action="/feed" method="post">
          <div class="mb-3">
            <label for="name" class="mb-2">Name:</label>
            <input type="text" name="name" id="name" class="form-control" />
            <!-- Handle Error Name-->
            <% if(err){ %>
            <p class="text-danger mt-2"><%= err['name'] %></p>
            <% } %>
            <!-- End Handle Error -->
          </div>

          <label for="message" class="mb-2">Message</label>
          <textarea
            name="message"
            id="message"
            class="form-control"
            placeholder="Write your message..."
          ></textarea>
          <!-- Handle Error Message -->
          <% if(err){ %>
          <p class="text-danger mt-2"><%= err['message'] %></p>
          <% } %>
          <!-- end handle error -->
          <button class="btn btn-primary mt-2" type="submit">Post</button>
        </form>

        <!-- Show Feed -->
        <div class="mt-4">
          <% if(feeds.length > 0){ %> <% feeds.forEach((feed) => { %>
          <div class="my-2" style="border-bottom: 1px solid #ccc">
            <h2><%= feed.name %></h2>
            <p><%= feed.message %></p>
            <small class="text-end mb-2 text-muted">
              Posted on <%= feed.date %>
            </small>
            <a
              class="btn btn-secondary btn-sm my-2 ms-3"
              href="/feed/<%= feed.id %>"
            >
              See more
            </a>
          </div>
          <% }) %> <% } else { %>
          <p class="fs-3 text-muted">There's no post to display</p>
          <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
